downward references

A) Downward references

RFC3542 is a normative reference that is not referenced in the document
        either remove or move into informational so as not to create an 
	unnecessary normative downward reference.

RFC7228 is a normative reference referenced in the document even though
        it is an informational document. I am writing into the shepherd doc
	that i think this is an appropriate downrev given how we only
	use it for terminology but derive requirements through classifications
	by that terminology ("constrained").

	let me know if from your experience you think this is inappropriate
	and you'd rather like to move it to informational.


https://tools.ietf.org/html/rfc8067 says
<pre>
   Section 2 of [RFC3967] lists some conditions under which downrefs may
   make sense.  In addition to those, it has become common for working
   groups to produce foundational documents (which contain important
   information such as terminology definitions and architectural design
   and considerations) at Informational status, and those documents are
   often needed as normative references in the Standards Track protocol
   documents that follow.
</pre>

Decided to make 7228 informative.
Remove 3542 as reference.